/Clase1/nbproject/private/
/Clase1/build/
/Clase2/nbproject/private/
/Clase2/build/
/Clase3/nbproject/private/
/Clase3/build/
/Clase4/nbproject/private/
/Clase4/build/
/Clase5/nbproject/private/
/Clase5/build/