/Clase1/nbproject/private/
/Clase1/build/
/Clase2/nbproject/private/
/Clase2/build/
/Clase3/nbproject/private/
/Clase3/build/
/Clase4/nbproject/private/
/Clase4/build/
/Clase5/nbproject/private/
/Clase5/build/
/Clase6/nbproject/private/
/Clase6/build/
/Clase8/nbproject/private/
/Clase8/build/
/Nuevo/nbproject/private/
/Nuevo/build/
/Clase9/nbproject/private/
/Clase9/build/
/SpaceInvaders/nbproject/private/
/SpaceInvaders/build/
/SpaceInvaders/dist/